body { 
    background-color: #cccccc;
    background-size: 100%;
  }

#index {
	background-image: url("https://static.pexels.com/photos/541216/pexels-photo-541216.jpeg");
}

#tables {
	background-image: url("https://static.pexels.com/photos/17738/pexels-photo.jpg");
}

#reservation {

}